{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarvis | Portfolio</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/jarvispicture.png' %}" alt="An image of Jarvis">
                    <hr>
                    <h4>Hi, I'm Jarvis.</h4>
                    <p>A developer, and love to build stuff.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h4>About Me</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, optio? Nesciunt porro incidunt doloribus aliquid, nostrum aspernatur facilis veritatis assumenda explicabo recusandae laborum optio, dicta eligendi voluptatem dolorum enim tempore quae doloremque accusamus sit. Quisquam, aperiam hic molestiae quis assumenda esse dolore! Praesentium assumenda laborum, eaque nam nisi hic obcaecati dolorem expedita ratione sequi vitae nostrum consequatur ex earum in aliquid quo facere natus, culpa, similique eveniet. Nemo reiciendis obcaecati sint eos dolor quisquam deleniti velit exercitationem a minus id excepturi, explicabo, odit eius veniam maxime alias ab nesciunt ea dolore in accusamus ex illo molestias. Incidunt sequi cumque quidem!</p>
                    <ul class="social-links">
                        <li><a href="https://facebook.com"><img class="social" src="{% static 'images/facebook.png' %}" alt="facebook"></a></li>
                        <li><a href="https://linkedin.com"><img class="social" src="{% static 'images/linkedin.png' %}" alt="linkedin"></a></li>
                        <li><a href="https://twitter.com"><img class="social" src="{% static 'images/twitter.png' %}" alt="twitter"></a></li>
                        <li><a href="https://youtube.com"><img class="social" src="{% static 'images/youtube.png' %}" alt="youtube"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Experience</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia commodi quaerat veritatis laudantium tempore reprehenderit, numquam facere iusto sint eum corporis assumenda rerum culpa. Rerum, aperiam a quaerat quasi voluptatem ducimus repellat beatae aut quod maiores adipisci sed veniam quisquam sit eum culpa eveniet minus praesentium. Aliquid aut accusantium iste provident perferendis voluptate earum aperiam veniam, eius eaque aspernatur consequatur quod hic non voluptatum nesciunt culpa dolor. Labore est, accusantium veritatis tenetur corrupti dolore corporis odit, ab sapiente rem hic cum numquam inventore iure qui. Deserunt sed tempora debitis dolorem sunt adipisci hic, reprehenderit cupiditate quos saepe. Ab, non recusandae.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Skills</h4>
                    <hr>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos nam nihil harum aperiam odio quasi omnis perspiciatis aliquid repudiandae sunt nisi reprehenderit dolorum repellat esse deleniti quae corporis odit, ducimus illum, voluptatibus vel cupiditate sapiente ab incidunt? Culpa voluptatem amet explicabo magni quo vel laboriosam exercitationem numquam cum. Nulla, voluptatibus?</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Hobbies</h4>
                    <hr>
                    <h6>Blogging</h6>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, obcaecati! Ab, voluptatum! Assumenda cumque fugit debitis dolore libero eaque est.</p>
                    <h6>Open source Contrinution</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi consequuntur ad dolorem eum neque autem fugiat rem cupiditate nostrum dolores.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Projects</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet distinctio quod, omnis et unde molestias reprehenderit? Voluptatem cumque nam, incidunt esse tempora ab impedit alias voluptatum voluptates ad iure temporibus distinctio explicabo natus! Iusto, molestias dolorum eius facere assumenda harum asperiores officiis aspernatur voluptatem omnis quis corrupti accusantium distinctio? Sit quis, aliquid itaque quo quaerat, ut nisi consequuntur est rem corporis, nostrum natus odit doloribus esse! Beatae ratione suscipit modi facere labore cupiditate, quam recusandae voluptatibus veritatis quae autem earum a odio velit eius deleniti cum molestias architecto unde porro? Sequi vero tempore nulla adipisci, animi possimus corporis labore nesciunt.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
<footer>
    <p>&copy; 2024, (alias) Jarvis. All rights reserved.</p>
</footer>
</html>